.TopMovieDescription{
width: 100%;
position: absolute;
z-index: 2;
bottom : 0;
background: linear-gradient(rgba(0, 0, 0, 0.365) , black);
display: flex;
align-items: center;
}

.TopMovieDescription img {
  height: 100%;
  margin-right: 1%;
  object-fit: contain;
}